.stats-outerdiv {
  border-radius: 20px;
  box-shadow: 5px 10px rgb(211, 168, 206);
  margin: 100px auto;
  width: 700px;
  height: 500px;
}
.stats-innerdiv {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden !important;
  }
  .stats-outerdiv {
    width: 90%;
    margin: 8px;
    margin-top: 50px;
  }
}
