.card-div {
  border: 2px solid #aba3a3;
  border-radius: 5px;
  box-shadow: 4px 2px 5px 5px #e6e0e0;
  padding: 10px;
  border: none;
}
.topic-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name {
  position: relative;
  top: 7px;
}
.topic-logo {
  width: 250px;
}
.git-logo {
  background-color: black;
}
.practice-btn {
  color: white;
  background-color: blueviolet;
  padding: 2px;
  padding-inline: 6px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

@media only screen and (max-width: 768px) {
  .card-div {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 15px;
    box-shadow: 0 0 white;
  }
  .name {
    position: relative;
    top: 6px;
  }
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .inner-card-div {
    margin: 10% 20%;

    border: none;
  }
  .card-div {
    box-shadow: 0 0 white;
  }
}
